<div>
  <div div align = "center">
    <h1 style = "color:#2196F3">Admin Panel</h1>
  </div>

  <ul>
    <li><%= link_to 'Categories', categories_path %></li>
    <br>
    <li><%= link_to 'Consumers', consumers_path %></li>
  </ul>
</div>