<h1>Cart</h1>
<hr />
<body bgcolor = #E3F2FD>
  <div style = "padding: 20px 80px 20px 80px;">
    <table class="cart_items" >
      <%= render @cart_items %>
    </table>
    <br><br>
  </div>
  <%= link_to 'Back',root_path %>
</body>

<script src =  'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>