<body bgcolor = #E3F2FD>
<div style = "padding: 20px 80px 20px 80px;">
	<br>
	<hr />
	<h2 style = "color:#2196F3" ><%= @category.name %></h2>
	<hr />
	<br><br>

		<%= render @category.products %>

	<br><br>
	<button><%= link_to 'Add Product',new_category_product_path(@category)  %></button> 
</div>
</body>