<html>
<body bgcolor = #E3F2FD style = "padding: 20px 80px 20px 80px;">
  <div>
    <br>
    <h1><%= @product.name %></h1>
    Price : <%=@product.price%>
    <br>
    <br>
    <%= @product.description %>
  </div>
</body>
</html>